{{> head }}
{{> navbar  }}

<div class="row">
    <div class="col-8">
        <h1>DFF</h1>
        <p>dfzfddfs
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/anonrender.jpg" class="img-thumbnail">
    </div>
</div>


    
{{> footer}}